<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.staff_info.mappers.AccountInfoAuditMapper">

    <select id="getAll" resultMap="AccountInfoAuditServiceMap">
        SELECT
                ID,
                FULLNAME,
                ACCOUNTID,
                MAFCCODE,
                DRSCODE,
                EMAIL,
                PHONE,
                MOBILE,
                LEVEL,
                POSITIONCOMPANYID,
                ISDELETED,
                JOININGDATE,
                ENDDATE,
                STATUS,
                BRANCHID,
                DEPARTMENTID,
                CREATEDDATE,
                MODIFIEDDATE,
                CREATEDBY,
                MODIFIEDBY,
                DELETEDDATE,
                DELETEDBY,
                ISADMIN,
                SUPERVISORID

        FROM MAACC.ACCOUNTINFOAUDIT
        WHERE SUPERVISORID = #{supervisorId}
    </select>


    <resultMap id="AccountInfoAuditServiceMap" type="AccountInfoAudit">
        <result column="ID" property="id"></result>
        <result column="FULLNAME" property="fullName"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="MAFCCODE" property="mafcCode"></result>
        <result column="DRSCODE" property="drsCode"></result>
        <result column="EMAIL" property="email"></result>
        <result column="PHONE" property="phone"></result>
        <result column="MOBILE" property="mobile"></result>
        <result column="LEVEL" property="level"></result>
        <result column="POSITIONCOMPANYID" property="positionCompanyId"></result>
        <result column="ISDELETED" property="isDeleted"></result>
        <result column="JOININGDATE" property="joiningDate"></result>
        <result column="ENDDATE" property="endDate"></result>
        <result column="STATUS" property="status"></result>
        <result column="BRANCHID" property="brandchId"></result>
        <result column="DEPARTMENTID" property="departmentId"></result>
        <result column="CREATEDDATE" property="createDate"></result>
        <result column="MODIFIEDDATE" property="modifiedDate"></result>
        <result column="CREATEDBY" property="createdBy"></result>
        <result column="MODIFIEDBY" property="modifiedBy"></result>
        <result column="DELETEDDATE" property="deletedDate"></result>
        <result column="DELETEDBY" property="deletedBy"></result>
        <result column="ISADMIN" property="isAdmin"></result>
        <result column="SUPERVISORID" property="supervisorId"></result>

    </resultMap>


</mapper>
