<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.staff_info.mappers.AccountAccountantMapper">

    <select id="getAll" resultMap="AccountAccountantServiceMap">
        SELECT
            ID,
            ACCOUNTID,
            FULLNAME,
            EMAIL,
            POSITIONCOMPANYID,
            BRANCHID,
            DEPARTMENTID,
            CREATEDDATE,
            MODIFIEDDATE,
            DELETEDDATE,
            CREATEDBY,
            MODIFIEDBY,
            DELETEDBY,
            LEVEL,
            SUPERVISORID,
            ISADMIN

        FROM MAACC.ACCOUNTACCOUNTANT

        WHERE SUPERVISORID = #{supervisorId}

    </select>

    <resultMap id="AccountAccountantServiceMap" type="AccountAccountant">
        <result column="ID" property="id"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="FULLNAME" property="fullName"></result>
        <result column="EMAIL" property="email"></result>
        <result column="POSITIONCOMPANYID" property="positionCompanyId"></result>
        <result column="BRANCHID" property="brandchId"></result>
        <result column="DEPARTMENTID" property="departmentId"></result>
        <result column="CREATEDDATE" property="createDate"></result>
        <result column="MODIFIEDDATE" property="modifiedDate"></result>
        <result column="DELETEDDATE" property="deletedDate"></result>
        <result column="CREATEDBY" property="createdBy"></result>
        <result column="MODIFIEDBY" property="modifiedBy"></result>
        <result column="DELETEDBY" property="deletedBy"></result>
        <result column="LEVEL" property="level"></result>
        <result column="SUPERVISORID" property="supervisorId"></result>
        <result column="ISADMIN" property="isAdmin"></result>
    </resultMap>

</mapper>
