<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.staff_info.mappers.AccountInfoUndMapper">
    <resultMap id="AccountInfoUndServiceMap" type="AccountInfoUnd">
        <result column="ID" property="id"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="FULLNAME" property="fullName"></result>
        <result column="EMAIL" property="email"></result>
        <result column="PHONE" property="phone"></result>
        <result column="MOBILE" property="mobile"></result>
        <result column="ISADMIN" property="isAdmin"></result>
        <result column="DEPARTMENTID" property="departmentId"></result>
        <result column="LEVEL" property="level"></result>
        <result column="SUPERVISORID" property="supervisorId"></result>
        <result column="STAFFTYPE" property="staffType"></result>
        <result column="GROUP" property="group"></result>
        <result column="TEAM" property="team"></result>
        <result column="AREA" property="area"></result>
        <result column="STATUS" property="status"></result>
        <result column="PERSONALID" property="personalId"></result>
        <result column="POSITIONCOMPANYID" property="positionCompanyId"></result>
        <result column="MAFCCODE" property="mafcCode"></result>
        <result column="JOININGDATE" property="joiningDate"></result>
        <result column="ENDDATE" property="endDate"></result>
        <result column="BRANCHID" property="branchId"></result>
    </resultMap>

    <select id="getAll" resultMap="AccountInfoUndServiceMap">
        SELECT
                ID,
                ACCOUNTID,
                FULLNAME,
                EMAIL,
                PHONE,
                MOBILE,
                ISADMIN,
                DEPARTMENTID,
                "LEVEL",
                SUPERVISORID,
                STAFFTYPE,
                "GROUP",
                TEAM,
                AREA,
                STATUS,
                PERSONALID,
                POSITIONCOMPANYID,
                MAFCCODE,
                JOININGDATE,
                ENDDATE,
                BRANCHID
        FROM MAACC.ACCOUNTINFOUND
        WHERE SUPERVISORID = #{supervisorId}
    </select>

    <select id="getInfo" resultMap="AccountInfoUndServiceMap">
        SELECT
            ID,
            ACCOUNTID,
            FULLNAME,
            EMAIL,
            PHONE,
            MOBILE,
            ISADMIN,
            DEPARTMENTID,
            "LEVEL",
            SUPERVISORID,
            STAFFTYPE,
            "GROUP",
            TEAM,
            AREA,
            STATUS,
            PERSONALID,
            POSITIONCOMPANYID,
            MAFCCODE,
            JOININGDATE,
            ENDDATE,
            BRANCHID
        FROM MAACC.ACCOUNTINFOUND
        WHERE 1 = 1
        <if test="accountId != null and !''.equals(accountId)">
            AND UPPER(ACCOUNTID) like ('%' || UPPER(#{accountId}) || '%')
        </if>
        <if test="mafcCode != null and !''.equals(mafcCode)">
            AND UPPER(MAFCCODE) like ('%' || UPPER(#{mafcCode}) || '%')
        </if>
        <if test="personalId != null and !''.equals(personalId)">
            AND UPPER(PERSONALID) like ('%' || UPPER(#{personalId}) || '%')
        </if>
        <if test="mobile != null and !''.equals(mobile)">
           AND MOBILE like ('%' || #{mobile} || '%')
        </if>
    </select>

    <select id="checkExistAccountId" resultMap="AccountInfoUndServiceMap">
        SELECT ACCOUNTID FROM MAACC.ACCOUNTINFOUND
        WHERE ACCOUNTID = UPPER(#{accountId})
    </select>

    <insert id="insertInfo" parameterType="AccountInfoUnd">
        INSERT INTO MAACC.ACCOUNTINFOUND
        (   MAFCCODE,
            ACCOUNTID,
            FULLNAME,
            EMAIL,
            PHONE,
            MOBILE,
            ISADMIN,
            POSITIONCOMPANYID,
            STAFFTYPE,
            JOININGDATE,
            SUPERVISORID,
            DEPARTMENTID,
            STATUS,
            "LEVEL",
            "GROUP",
            TEAM,
            AREA,
            PERSONALID,
            ENDDATE,
            BRANCHID
         )
        VALUES
        (UPPER(#{mafcCode}), UPPER(#{accountId}),UPPER (#{fullName}),#{email},#{phone},#{mobile},
         #{isAdmin},#{positionCompanyId},#{staffType},#{joiningDate},#{supervisorId},#{departmentId},
         #{status},#{level},#{group},#{team},#{area},#{personalId},#{endDate},#{branchId})
    </insert>

    <update id="updateInfo" parameterType="AccountInfoUnd">
        UPDATE MAACC.ACCOUNTINFOUND
        SET MAFCCODE = NVL(#{mafcCode},MAFCCODE),
            FULLNAME = NVL(#{fullName},FULLNAME),
            EMAIL = NVL(#{email},EMAIL),
            PHONE = NVL(#{phone},PHONE),
            MOBILE = NVL(#{mobile},MOBILE),
            ISADMIN = #{isAdmin},
            POSITIONCOMPANYID = #{positionCompanyId},
            STAFFTYPE = #{staffType},
            JOININGDATE = #{joiningDate},
            SUPERVISORID = #{supervisorId},
            DEPARTMENTID = #{departmentId},
            STATUS = #{status},
            "LEVEL" = #{level},
            "GROUP" = #{group},
            TEAM = #{team},
            AREA = #{area},
            PERSONALID = #{personalId},
            ENDDATE = #{endDate},
            BRANCHID = #{branchId}

       WHERE ACCOUNTID = #{accountId}
    </update>

    <update id="delete" parameterType="AccountInfoUnd">
        UPDATE MAACC.ACCOUNTINFOUND
        SET STATUS = 'IACT'
        WHERE ACCOUNTID = #{accountId}
    </update>

    <delete id="deleteAccountInfoUnd" parameterType="AccountInfoUnd">
        DELETE FROM MAACC.ACCOUNTINFOUND
    </delete>

    <insert id="insertAccountInfoUnd_LastBackUp" parameterType="AccountInfoUnd">
        INSERT INTO MAACC.ACCOUNTINFOUND_LASTBACKUP
        (ID,
                ACCOUNTID,
                FULLNAME,
                EMAIL,
                PHONE,
                MOBILE,
                ISADMIN,
                DEPARTMENTID,
                "LEVEL",
                SUPERVISORID,
                STAFFTYPE,
                "GROUP",
                TEAM,
                AREA,
                STATUS,
                PERSONALID,
                POSITIONCOMPANYID,
                MAFCCODE,
                JOININGDATE,
                ENDDATE,
                BRANCHID)
        SELECT
                ID,
                ACCOUNTID,
                FULLNAME,
                EMAIL,
                PHONE,
                MOBILE,
                ISADMIN,
                DEPARTMENTID,
                "LEVEL",
                SUPERVISORID,
                STAFFTYPE,
                "GROUP",
                TEAM,
                AREA,
                STATUS,
                PERSONALID,
                POSITIONCOMPANYID,
                MAFCCODE,
                JOININGDATE,
                ENDDATE,
                BRANCHID
        FROM MAACC.ACCOUNTINFOUND
    </insert>

    <delete id="deleteAccountInfoUnd_LastBackUp" parameterType="AccountInfoUnd">
        DELETE FROM MAACC.ACCOUNTINFOUND_LASTBACKUP
    </delete>

    <insert id="importListAccountInfoUnd" parameterType="java.util.HashMap" useGeneratedKeys="true">
        INSERT INTO MAACC.ACCOUNTINFOUND
        (
            ID,
            FULLNAME,
            ACCOUNTID,
            MAFCCODE,
            EMAIL,
            PHONE,
            MOBILE,
            ISADMIN,
            DEPARTMENTID,
            "LEVEL",
            SUPERVISORID,
            STAFFTYPE,
            "GROUP",
            TEAM,
            AREA,
            STATUS,
            PERSONALID,
            POSITIONCOMPANYID,
            JOININGDATE,
            ENDDATE,
            BRANCHID
         )
        VALUES
        <foreach item="item"  index="index" collection= "list"  open="" separator="," close="">
            (SEQ_ACCOUNTINFOUND.NEXTVAL,UPPER (#{item.fullName}), (UPPER(#{item.accountId})), (UPPER (#{item.mafcCode})),#{item.email}, #{item.phone}, #{item.mobile},
            #{item.isAdmin},#{item.departmentId},#{item.level},UPPER(#{item.supervisorId}),#{item.staffType},
            #{item.group},#{item.team}, #{item.area},UPPER(#{item.status}),#{item.personalId},
            #{item.positionCompanyId},#{item.joiningDate},#{item.endDate},#{item.branchId})
        </foreach>
    </insert>

</mapper>
