<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.LogActivitiesUserMapper">
    <insert id="activitesUser">
        INSERT INTO mafcdb.user_action (ACCOUNTID,	APPLICATION,	CODEID,	"ACTION")
        VALUES (#{accountId},'ACC', #{screen}, #{actions})
    </insert>
</mapper>
