<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.UserMapper">
    <resultMap id="UserMap" type="User">
        <id column="ID" property="id"/>
        <result column="ACCOUNTID" property="accountId"/>
        <result column="PASSWORD" property="password"/>
        <result column="ISBLOCKED" property="isBlocked"/>
        <result column="ISDELETED" property="isDeleted"/>
        <result column="ISSTATUS" property="isStatus"/>
        <result column="ISADMIN" property="isAdmin"/>
        <result column="GROUPUSER_ID" property="groupId"/>
        <result column="DEPARTMENT_ID" property="departmentId"/>
    </resultMap>

    <select id="loginUser" resultMap="UserMap">
        SELECT
            ID,
            ACCOUNTID,
            PASSWORD,
            ISBLOCKED,
            ISDELETED,
            ISSTATUS,
            ISADMIN,
            GROUPUSER_ID,
            DEPARTMENT_ID
        FROM  MAACC.ACCOUNTINFO
        WHERE  UPPER(ACCOUNTID) = UPPER(#{accountId})

    </select>

    <resultMap id="PermissionsMap" type="Permission">
        <result column="NAME" property="featureName"/>
        <result column="URL" property="featureUrl"/>
        <result column="BUTTONCODEID" property="btnId"/>
        <result column="HIDDENFIELDID" property="hiddenFieldId"/>
    </resultMap>

    <select id="getInfoPerMissionByAccount" resultMap="PermissionsMap">
        select fea.NAME,
               fea.URL
        from (select distinct A.accountId, B.FEATUREID from Maacc.ACCOUNTPERMISSIONGROUPFEATURE A, Maacc.GROUPFEATURE B
              where A.GROUPID = B.GROUPID) accPer,
              Maacc.FEATURE fea,
              Maacc.ACCOUNTINFO acc
        where 1=1
        and accPer.FEATUREID = fea.CODEID
        and acc.ACCOUNTID = accPer.ACCOUNTID
        and acc.ACCOUNTID = #{accountId}
    </select>

    <!--- update password -->
    <update id="changePassword"  >
        UPDATE Maacc.ACCOUNTINFO
        set PASSWORD =  #{password}
        where ACCOUNTID = #{accountId}
    </update>
</mapper>
