<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
        <package name="com.dou.adm.models"/>
        <package name="com.dou.home.models"/>
        <package name="com.dou.acctmanagement.models"/>
        <package name="com.dou.staff_info.models"/>

    </typeAliases>
    <mappers>
        <!--<mappers resource="sample/mybatis/mappers/CityMapper.xml"/>-->
        <!--<mappers resource="sample/mybatis/mappers/HotelMapper.xml"/>-->
    </mappers>
</configuration>