<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.acctmanagement.mappers.AccountPermissionFeatureButtonMapper">
    <resultMap id="AccountPermissionFeatureButtonServiceMap" type="AccountPermissionFeatureButton">
        <result column="ID" property="id"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="FEATURECODEID" property="featureCodeId"></result>
        <result column="BUTTONCODEID" property="buttonCodeId"></result>
        <result column="FEATURENAME" property="featureName"></result>
    </resultMap>

    <select id="getAccountPermissionFeatureButton" resultMap="AccountPermissionFeatureButtonServiceMap" parameterType="AccountPermissionFeatureButton">
        SELECT a.ID,
               a.ACCOUNTID,
               a.FEATURECODEID,
               a.BUTTONCODEID,
               b.NAME FEATURENAME
        FROM MAACC.ACCOUNTPERMISSIONFEATUREBUTTON a,
             MAACC.FEATURE b
        WHERE A.FEATURECODEID = B.CODEID
        AND UPPER(ACCOUNTID) = UPPER(#{accountId})
        <if test="featureCodeId != null and !''.equals(featureCodeId)">
            AND a.FEATURECODEID = #{featureCodeId}
        </if>
        <if test="buttonCodeId != null and !''.equals(buttonCodeId)">
            AND a.BUTTONCODEID = #{buttonCodeId}
        </if>
    </select>

    <select id="getAccountPermissionFeatureButtonByAcct" resultMap="AccountPermissionFeatureButtonServiceMap" parameterType="String">
        SELECT ID,
               ACCOUNTID,
               FEATURECODEID,
               BUTTONCODEID
        FROM MAACC.ACCOUNTPERMISSIONFEATUREBUTTON
        WHERE UPPER(ACCOUNTID) = UPPER(#{accountId})
    </select>

    <insert id="insAccountPermissionFeatureButton" parameterType="AccountPermissionFeatureButton">
        INSERT INTO MAACC.ACCOUNTPERMISSIONFEATUREBUTTON
        (ACCOUNTID, FEATURECODEID, BUTTONCODEID)
        VALUES
        (UPPER(#{accountId}), #{featureCodeId}, #{buttonCodeId})
    </insert>

    <update id="updAccountPermissionFeatureButton" parameterType="AccountPermissionFeatureButton">
        UPDATE MAACC."ACCOUNTPERMISSIONFEATUREBUTTON"
        SET ACCOUNTID     = UPPER(#{accountId}),
            FEATURECODEID = #{featureCodeId},
            BUTTONCODEID  = #{buttonCodeId}
        WHERE ID = #{id}
    </update>

    <delete id="delAccountPermissionFeatureButton" parameterType="AccountPermissionFeatureButton">
        DELETE FROM MAACC.ACCOUNTPERMISSIONFEATUREBUTTON
        WHERE ID = #{id}
    </delete>

    <delete id="delAccountPermissionFeatureButton_01" parameterType="String">
        DELETE FROM MAACC.ACCOUNTPERMISSIONFEATUREBUTTON
        WHERE UPPER(ACCOUNTID) = UPPER(#{accountId})
    </delete>

</mapper>
