<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.acctmanagement.mappers.AccountInfoMapper">
    <resultMap id="AccountInfoServiceMap" type="AccountInfo">
        <result column="ID" property="id"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="PASSWORD" property="password"></result>
        <result column="ISBLOCKED" property="isBlocked"></result>
        <result column="ISDELETED" property="isDeleted"></result>
        <result column="ISSTATUS" property="isStatus"></result>
        <result column="ISADMIN" property="isAdmin"></result>
        <result column="ACCESSTOKEN" property="accessToken"></result>
        <result column="ACCESSTOKENEXPIRED" property="accessTokenExpired"></result>
        <result column="GENERATEKEY" property="generateKey"></result>
        <result column="PERSONALID" property="personalId"></result>
        <result column="DEPARTMENT_ID" property="departmentId"></result>
        <result column="GROUPUSER_ID" property="groupUserId"></result>
    </resultMap>

    <resultMap id="AccountInfoSearchServiceMap" type="AccountInfoSearch">
        <result column="ID" property="id"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="DEPARTMENT_ID" property="departmentId"></result>
        <result column="NAME" property="departmentName"></result>
    </resultMap>

    <select id="getAccountInfo" resultMap="AccountInfoServiceMap">
        SELECT
                ID,
                ACCOUNTID,
                PASSWORD,
                ISBLOCKED,
                ISDELETED,
                ISSTATUS,
                ISADMIN,
                ACCESSTOKEN,
                ACCESSTOKENEXPIRED,
                GENERATEKEY,
                PERSONALID,
                DEPARTMENT_ID,
                GROUPUSER_ID
        FROM MAACC."ACCOUNTINFO"
    </select>

    <select id="getAccountInfoSearch" resultMap="AccountInfoSearchServiceMap" parameterType="AccountInfo">
        SELECT A.ID,
               A.ACCOUNTID,
               A.DEPARTMENT_ID,
               B.NAME
        FROM MAACC.ACCOUNTINFO A,
             MAACC.DEPARTMENT B
        WHERE 1=1
        AND A.DEPARTMENT_ID = B.DEPARTMENT_ID
        AND UPPER(A.ACCOUNTID) = UPPER(#{accountId})
        <if test = "departmentId != null and !(''.equals(departmentId))">
            AND A.DEPARTMENT_ID = #{departmentId}
        </if>
    </select>

    <select id="getAccountInfoByAcctId" resultMap="AccountInfoServiceMap" parameterType="AccountInfo">
        SELECT ID,
               ACCOUNTID,
               PASSWORD,
               ISBLOCKED,
               ISDELETED,
               ISSTATUS,
               ISADMIN,
               ACCESSTOKEN,
               ACCESSTOKENEXPIRED,
               GENERATEKEY,
               PERSONALID,
               DEPARTMENT_ID,
               GROUPUSER_ID
        FROM MAACC.ACCOUNTINFO
        WHERE 1=1
        <if test = "accountId != null and !(''.equals(accountId))">
            AND UPPER(ACCOUNTID) = UPPER(#{accountId})
        </if>

    </select>

    <insert id="insAccountInfo" parameterType="AccountInfo">
        INSERT INTO MAACC.ACCOUNTINFO
        (
         ACCOUNTID,
         PASSWORD,
         ISBLOCKED,
         ISDELETED,
         ISSTATUS,
         ISADMIN,
         ACCESSTOKEN,
         ACCESSTOKENEXPIRED,
         GENERATEKEY,
         PERSONALID,
         DEPARTMENT_ID,
         GROUPUSER_ID)
        VALUES
        (UPPER(#{accountId}), #{password}, #{isBlocked}, #{isDeleted}, #{isStatus}, #{isAdmin}, #{accessToken}, #{accessTokenExpired}, #{generateKey}, #{personalId}, #{departmentId}, #{groupUserId})
    </insert>

    <update id="updAccountInfo" parameterType="AccountInfo">
        UPDATE MAACC."ACCOUNTINFO"
        SET ACCOUNTID           = UPPER(#{accountId}),
            PASSWORD            = #{password},
            ISBLOCKED           = #{isBlocked},
            ISDELETED           = #{isDeleted},
            ISSTATUS            = #{isStatus},
            ISADMIN             = #{isAdmin},
            ACCESSTOKEN         = #{accessToken},
            ACCESSTOKENEXPIRED  = #{accessTokenExpired},
            GENERATEKEY         = #{generateKey},
            PERSONALID          = #{personalId},
            DEPARTMENT_ID       = #{departmentId},
            GROUPUSER_ID        = #{groupUserId}
        WHERE ID = #{id}
    </update>

    <update id="resetPasswordAcctInfo" parameterType="AccountInfo">
        UPDATE MAACC.ACCOUNTINFO
        SET PASSWORD           = #{password}
        WHERE UPPER(ACCOUNTID) = UPPER(#{accountId})
    </update>

    <delete id="delAccountInfo" parameterType="AccountInfo">
        DELETE FROM MAACC.ACCOUNTINFO
        WHERE ID = #{id}
    </delete>

</mapper>
