<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.acctmanagement.mappers.AccountPermissionGroupFeatureMapper">
    <resultMap id="AccountPermissionGroupFeatureServiceMap" type="AccountPermissionGroupFeature">
        <result column="ID" property="id"></result>
        <result column="ACCOUNTID" property="accountId"></result>
        <result column="GROUPID" property="groupCodeId"></result>
        <result column="FEATUREID" property="featureCodeId"></result>
        <result column="NAME" property="featureName"></result>
    </resultMap>

    <select id="getAccountPermissionGroupFeature" resultMap="AccountPermissionGroupFeatureServiceMap" parameterType="AccountPermissionGroupFeature">
        SELECT ID,
               ACCOUNTID,
               GROUPID,
               FEATUREID
        FROM MAACC.ACCOUNTPERMISSIONGROUPFEATURE
        WHERE UPPER(ACCOUNTID) = UPPER(#{accountId})
        AND UPPER(GROUPID) = UPPER(#{groupCodeId})
    </select>

    <select id="getAccountPermissionGroupFeatureByAcct" resultMap="AccountPermissionGroupFeatureServiceMap" parameterType="String">
        SELECT ID,
               ACCOUNTID,
               GROUPID,
               FEATUREID
        FROM MAACC.ACCOUNTPERMISSIONGROUPFEATURE
        WHERE UPPER(ACCOUNTID) = UPPER(#{accountId})
    </select>

    <select id="loadAccountPermissionGroupFeature" resultMap="AccountPermissionGroupFeatureServiceMap" parameterType="AccountPermissionGroupFeature">

        <!--SELECT A.ID,-->
        <!--A.ACCOUNTID,-->
        <!--A.GROUPID,-->
        <!--B.FEATUREID,-->
        <!--C.NAME-->
        <!--FROM MAACC."ACCOUNTPERMISSIONGROUPFEATURE" A,-->
        <!--MAACC."GROUPFEATURE" B,-->
        <!--MAACC."FEATURE" C-->
        <!--WHERE A.GROUPID = B.GROUPID-->
        <!--AND B.FEATUREID = C.CODEID-->
        <!--AND UPPER(A.ACCOUNTID) = UPPER(#{accountId})-->
        <!--ORDER BY A.GROUPID, B.FEATUREID-->
         SELECT DISTINCT
            A.ID,
            A.GROUPID,
            A.FEATUREID,
            A.ACCOUNTID,
            B.NAME
        FROM MAACC.ACCOUNTPERMISSIONGROUPFEATURE A,
        MAACC."GROUP" B
        WHERE A.GROUPID = B.CODEID
        AND UPPER(A.ACCOUNTID) =  UPPER(#{accountId})
        ORDER BY B.NAME
    </select>

    <insert id="insAccountPermissionGroupFeature" parameterType="AccountPermissionGroupFeature">
        INSERT INTO MAACC.ACCOUNTPERMISSIONGROUPFEATURE
        (ACCOUNTID, GROUPID)
        VALUES
        (UPPER(#{accountId}), UPPER(#{groupCodeId}))
    </insert>

    <delete id="delAccountPermissionGroupFeature" parameterType="AccountPermissionGroupFeature">
        DELETE MAACC.ACCOUNTPERMISSIONGROUPFEATURE
        WHERE ID = #{id}
    </delete>

    <delete id="delAccountPermissionGroupFeatureByAcct" parameterType="String">
        DELETE MAACC.ACCOUNTPERMISSIONGROUPFEATURE
        WHERE UPPER(ACCOUNTID) = UPPER(#{accountId})
    </delete>

</mapper>
