<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.acctmanagement.mappers.FeatureInfoMapper">
    <resultMap id="FeatureInfoServiceMap" type="FeatureInfo">
        <result column="ID" property="id"></result>
        <result column="NAME" property="name"></result>
        <result column="PARENTID" property="parentId"></result>
        <result column="ISORDER" property="isOrder"></result>
        <result column="CODEID" property="codeId"></result>
        <result column="URL" property="url"></result>
    </resultMap>

    <select id="getAllFeatureInfo" resultMap="FeatureInfoServiceMap">
        SELECT  ID,
                NAME,
                PARENTID,
                ISORDER,
                CODEID,
                URL
        FROM MAACC.FEATURE
        ORDER BY NAME
    </select>

</mapper>
