<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.acctmanagement.mappers.GroupMapper">
    <resultMap id="GroupServiceMap" type="Group">
        <result column="CODEID" property="codeId"></result>
        <result column="NAME" property="name"></result>
        <result column="APPLICATION" property="application"></result>
        <result column="EFFDATE" property="effDate"></result>
        <result column="INACTIVEDATE" property="inactiveDate"></result>
        <result column="DATELASTMANT" property="datelastmant"></result>
    </resultMap>

    <select id="getAllGroup" resultMap="GroupServiceMap">
        SELECT CODEID,
               NAME,
               "APPLICATION",
               EFFDATE,
               INACTIVEDATE,
               DATELASTMANT
        FROM MAACC."GROUP"
        ORDER BY NAME
    </select>

</mapper>
