<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.CasRepaymentScheduleMapper">
    <select id="getDataCasRepayment"  resultType="casRepaymentScheduleModel" parameterType="CasRepaymentScheduleModel">
        SELECT
        PROPOSALID agreementId,
        INSTLNUM instlNum,
        to_char(DUEDATE, 'MM/DD/YYYY') dueDt,
        INSTLAMT instlAmt,
        PRINCOMP prinComp,
        INTCOMP intComp,
        EFFRATE effRate,
        BALPRIN balPrin,
        DAYS days
        FROM
        macas.lea_repaysch_dtl
        WHERE 1=1
        <if test="agreementId != null and agreementId != ''">
            AND proposalid = #{agreementId}
        </if>
        ORDER BY
        INSTLNUM ASC
    </select>
    <select id="getReceivableTillDate"  resultType="String"  parameterType="CasRepaymentScheduleModel">
        SELECT
        NVL( sum(INSTLAMT), 0 )
        FROM
        macas.lea_repaysch_dtl a
        WHERE 1=1
        AND trunc(DUEDATE) <![CDATA[<=]]>trunc(sysdate)
        <if test="agreementId != null and agreementId != ''">
            AND proposalid = #{agreementId}
        </if>
    </select>
    <select id="getNotOverduePrincipal"  resultType="String"  parameterType="CasRepaymentScheduleModel">
        SELECT
        NVL( sum (PRINCOMP), 0 )
        FROM
        macas.lea_repaysch_dtl a
        WHERE trunc(DUEDATE) > trunc(sysdate)
        <if test="agreementId != null and agreementId != ''">
            AND proposalid = #{agreementId}
        </if>
    </select>
    <select id="getEarlyPaymentPenalty"  resultType="String"  parameterType="CasRepaymentScheduleModel">
        SELECT
        NVL( PREPAY_PENALTY_RATE, 0 )

        FROM
        java_leama.lea_multi_prepay_penalty_dtl a
        WHERE 1=1
        <if test="agreementId != null and agreementId != ''">
            AND proposalid = #{agreementId}
        </if>
    </select>
    <select id="getRecAmount"  resultType="String"  parameterType="CasRepaymentScheduleModel">
        SELECT
        NVL(sum(a.receipt_amt), 0 )

        FROM
        java_leama.lea_ruu_uploaded_record_dtl a
        INNER JOIN java_leama.lea_agreement_dtl b ON a.agreementno = b.agreementno
        inner join java_leama.nbfc_cheque_dtl c on a.chequeid = c.chequeid
        WHERE
        bankacnum  NOT IN ('11') and c.status <![CDATA[<>]]> 'X'
        <if test="agreementId != null and agreementId != ''">
            AND b.agreementid =  #{agreementId}
        </if>
    </select>
    <select id="getWaiveOffCovid"  resultType="String"  parameterType="CasRepaymentScheduleModel">
        SELECT
        NVL( sum(a.receipt_amt), 0 )
        FROM
        java_leama.lea_ruu_uploaded_record_dtl a
        INNER JOIN java_leama.lea_agreement_dtl b ON a.agreementno = b.agreementno
        inner join java_leama.nbfc_cheque_dtl c on a.chequeid = c.chequeid
        WHERE
        bankacnum = '11' and c.status <![CDATA[<>]]>  'X'
        <if test="agreementId != null and agreementId != ''">
            AND b.agreementid = #{agreementId}
        </if>
    </select>
</mapper>
