<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.CheckTerminationDailyRPTMapper">
    <select id="getTerminationDailyReport" resultType="CheckTerminationDailyRPTModel" parameterType="CheckTerminationDailyRPTModel">
        SELECT
        a.agreementid agreementId,
        b.createdby    AS maker,
        b.authorizedby AS checker,
        to_char( b.authorizedon , 'MM/DD/YYYY')AS TerDate
        FROM
        java_leama.lea_agreement_dtl   a
        LEFT JOIN java_leama.lea_termination_dtl b ON a.proposalid = b.agreementid
        WHERE
        a.status = 'C'
        AND trunc(b.authorizedon) = trunc(sysdate)
        AND b.createdby  <![CDATA[<>]]> 'BKND'
        <if test="agreementId != null and agreementId != ''">
            AND a.agreementid = #{agreementId}
        </if>
        GROUP BY
        a.agreementid,
        b.createdby,
        b.authorizedby,
        b.authorizedon
    </select>
</mapper>
