<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.CloseSoldoutMapper">
    <select id="loadingDetailsData"  resultType="closeSoldoutModel" parameterType="closeSoldoutModel">
        SELECT
        a.agreementid agreementId,
        a.agreementno agreementNo,
        b.customername cusName,
        a.status status,
        a.npa_stageid npaStage,
        a.productflag product,
        a.closuredate closureDt
        FROM
        java_leama.lea_agreement_dtl a
        left join java_leama.nbfc_customer_m b on a.lesseeid = b.customerid
        WHERE 1=1 and agreementid in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item.agreementId}
        </foreach>
    </select>
    <select id="isSoldout" resultType="int">
        SELECT
        count(*)
        FROM
        java_leama.LEA_AGREEMENT_DTL
        WHERE
        npa_stageid = 'SOLDOUT'
        AND status = 'A'
        AND AGREEMENTID = #{agreementId}
    </select>

    <select id="isExistApp" resultType="int">
        SELECT
        count(*)
        FROM
        java_leama.LEA_AGREEMENT_DTL
        WHERE
        AGREEMENTID = #{agreementId}
    </select>

    <update id="updateAppId" parameterType="closeSoldoutModel">
        UPDATE
        java_leama.LEA_AGREEMENT_DTL
        SET
        status = 'C',
        closuredate = sysdate
        WHERE
        agreementID = #{agreementId}
        AND npa_stageid = 'SOLDOUT'
    </update>
    
    <insert id="insertInCloseSoldoutHis" parameterType="closeSoldoutModel">
        INSERT INTO mafcdb.close_soldout_hst (AGREEMENTID,CREATEDATE,CREAREBY)
        VALUES (#{agreementId}, SYSDATE, #{userLogin})
    </insert>
</mapper>
