<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.RejectUploadFileGLSAPMapper">
    <select id="getRejectUploadFileGLSAPData"  resultType="com.dou.accounting.models.RejectUploadFileGLSAPModel" parameterType="com.dou.accounting.models.RejectUploadFileGLSAPModel">
        SELECT
        d.glacct_debit     glAcct,
        NULL               acctName,
        SUM(d.receipt_amt) debit,
        NULL               credit,
        d.remarks,
        NULL               roDept,
        d.desc_vn          descriptionvietnames
        FROM
        sqlserver1.receipt_upl_debit_gl d
        WHERE
        1 = 1
        <if test="remarks != null and remarks != ''">
            AND UPPER(d.remarks) like ('%' || UPPER(#{remarks}) || '%')
        </if>

        AND d.receipt_date = TO_DATE(#{uploadDate}, 'MM/DD/yyyy')
        GROUP BY
        d.glacct_debit,
        d.remarks,
        d.desc_vn
        UNION ALL
        SELECT
        c.glacct_credit glAcct,
        NULL            acctName,
        NULL            debit,
        c.receipt_amt   credit,
        c.remarks,
        NULL            roDept,
        c.desc_vn       descriptionvietnames
        FROM
        sqlserver1.receipt_upl_credit_gl c
        WHERE
        1 = 1
        <if test="remarks != null and remarks != ''">
            AND UPPER(c.remarks) like('%' ||  UPPER(#{remarks}) || '%')
        </if>

        AND c.receipt_date = TO_DATE(#{uploadDate}, 'MM/DD/yyyy')
        AND c.glacct_credit <![CDATA[ <> ]]> 45219
        UNION ALL
        SELECT
        c.glacct_credit    glAcct,
        NULL               acctName,
        NULL               debit,
        SUM(c.receipt_amt) credit,
        c.remarks,
        NULL               roDept,
        c.desc_vn          descriptionvietnames
        FROM
        sqlserver1.receipt_upl_credit_gl c
        WHERE
        1 = 1
        <if test="remarks != null and remarks != ''">
            AND UPPER(c.remarks) like('%' ||  UPPER(#{remarks}) || '%')
        </if>
        and c.glacct_credit = 45219
        AND c.receipt_date = TO_DATE(#{uploadDate}, 'MM/DD/yyyy')
        GROUP BY
        c.glacct_credit,
        c.remarks,
        c.desc_vn
        ORDER BY
        remarks,
        glAcct
    </select>
</mapper>