<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.ScheduleBfReduceInterestMapper">
    <select id="getReduceInterest"  resultType="scheduleBfReduceInterestModel" parameterType="scheduleBfReduceInterestModel">
        SELECT
            APP_ID_C appId,
            START_TENURE startTenure,
            END_TENURE endTenure,
            OLD_EFFRATE oldEffrate,
            NEW_EFFRATE newEffrate,
            TOTAL_INTCOMP_BF1 totalIntcompBf1,
            NEW_EFFRATE_2 newEffrate2,
            ADDONW addDonw,
            TOTAL_INTCOMP totalIntcomp,
            ANR anr
        FROM
            SQLSERVER1.mafc_reduceinterest_effrate a
        WHERE
            <if test="agreementId != null and agreementId != ''">
                APP_ID_C = #{agreementId} AND
            </if>
            APP_ID_C IN (
            SELECT
            applid
            FROM
            java_leama.LEA_AGREEMENT_DTL
            WHERE 1 = 1
            <if test="fromDt != null and toDt != null">
                AND TRUNC(DISBURSALDATE) BETWEEN to_date(#{fromDt}, 'MM-DD-YYYY') AND to_date(#{toDt}, 'MM-DD-YYYY')
            </if>)
            ORDER BY APP_ID_C ASC
    </select>

    <select id="getRepayment"  resultType="scheduleBfReduceInterestModel" parameterType="scheduleBfReduceInterestModel">
        SELECT
        PROPOSALID proposalId,
        INSTLNUM instlNum,
        to_char(DUEDATE, 'MM/DD/YYYY') dueDate,
        INSTLAMT instlAmt,
        PRINCOMP printComp,
        INTCOMP intComp,
        EFFRATE effRate,
        BALPRIN balPrin,
        DAYS days
        FROM
        (WITH dulieuchung AS
        (
        SELECT
        count_his,
        PROPOSALID,
        INSTLNUM,
        DUEDATE,
        INSTLAMT,
        PRINCOMP,
        INTCOMP,
        EFFRATE,
        BALPRIN,
        DAYS
        FROM
        SQLSERVER1.MAFC_reduceInterest_repayhis
        WHERE
        PROPOSALID IN
        (
        SELECT
        APP_ID_C
        FROM
        SQLSERVER1.mafc_reduceinterest_effrate a
        WHERE
        APP_ID_C IN (
        SELECT
        applid
        FROM
        java_leama.LEA_AGREEMENT_DTL
        WHERE 1 = 1
        <if test="agreementId != null and agreementId != ''">
            AND applid = #{agreementId}
        </if>
        <if test="fromDt != null and toDt != null">
            AND TRUNC(DISBURSALDATE) BETWEEN to_date(#{fromDt}, 'MM-DD-YYYY') AND to_date(#{toDt}, 'MM-DD-YYYY')
        </if>
        ))
        )
        ,
        laymax AS
        (
        SELECT
        max(count_his) AS max_rep,
        PROPOSALID
        FROM
        dulieuchung
        GROUP BY
        PROPOSALID
        )
        SELECT
        a.PROPOSALID,
        b.INSTLNUM,
        b.DUEDATE,
        b.INSTLAMT,
        b.PRINCOMP,
        b.INTCOMP,
        b.EFFRATE,
        b.BALPRIN,
        b.DAYS,
        ROW_NUMBER()
        OVER(
        ORDER BY
        b.PROPOSALID ASC,
        b.INSTLNUM ASC
        ) line_number
        FROM
        laymax a
        LEFT JOIN dulieuchung b ON
        a.PROPOSALID = b.PROPOSALID
        AND a.max_rep = b.count_his
        ORDER BY
        b.PROPOSALID ASC,
        b.INSTLNUM ASC)
        WHERE
        line_number BETWEEN 10 * (#{page}- 1) + 1 AND 10 * #{page}
    </select>

    <select id="countAllDataRepayment"  resultType="int"  parameterType="scheduleBfReduceInterestModel">
        WITH dulieuchung AS
        (
        SELECT
        count_his,
        PROPOSALID,
        INSTLNUM,
        DUEDATE,
        INSTLAMT,
        PRINCOMP,
        INTCOMP,
        EFFRATE,
        BALPRIN,
        DAYS
        FROM
        SQLSERVER1.MAFC_reduceInterest_repayhis
        WHERE
        PROPOSALID IN
        (
        SELECT
        APP_ID_C
        FROM
        SQLSERVER1.mafc_reduceinterest_effrate a
        WHERE
        APP_ID_C IN (
        SELECT
        applid
        FROM
        java_leama.LEA_AGREEMENT_DTL
        WHERE 1=1
        <if test="agreementId != null and agreementId != ''">
            AND applid = #{agreementId}
        </if>
        <if test="fromDt != null and toDt != null">
            AND TRUNC(DISBURSALDATE) BETWEEN to_date(#{fromDt}, 'MM-DD-YYYY') AND to_date(#{toDt}, 'MM-DD-YYYY')
        </if>
        ))
        )
        ,
        laymax AS
        (
        SELECT
        max(count_his) AS max_rep,
        PROPOSALID
        FROM
        dulieuchung
        GROUP BY
        PROPOSALID
        )
        SELECT
        count(*)
        FROM
        laymax a
        LEFT JOIN dulieuchung b ON
        a.PROPOSALID = b.PROPOSALID
        AND a.max_rep = b.count_his
        ORDER BY
        b.PROPOSALID,
        b.INSTLNUM
    </select>
    <select id="getAllRepayment"  resultType="scheduleBfReduceInterestModel"  parameterType="scheduleBfReduceInterestModel">
        WITH dulieuchung AS
        (
        SELECT
        count_his,
        PROPOSALID,
        INSTLNUM,
        DUEDATE,
        INSTLAMT,
        PRINCOMP,
        INTCOMP,
        EFFRATE,
        BALPRIN,
        DAYS
        FROM
        SQLSERVER1.MAFC_reduceInterest_repayhis
        WHERE
        PROPOSALID IN
        (
        SELECT
        APP_ID_C
        FROM
        SQLSERVER1.mafc_reduceinterest_effrate a
        WHERE
        APP_ID_C IN (
        SELECT
        applid
        FROM
        java_leama.LEA_AGREEMENT_DTL
        WHERE 1=1
        <if test="agreementId != null and agreementId != ''">
            AND applid = #{agreementId}
        </if>
        <if test="fromDt != null and toDt != null">
            AND TRUNC(DISBURSALDATE) BETWEEN to_date(#{fromDt}, 'MM-DD-YYYY') AND to_date(#{toDt}, 'MM-DD-YYYY')
        </if>))
        )
        ,
        laymax AS
        (
        SELECT
        max(count_his) AS max_rep,
        PROPOSALID
        FROM
        dulieuchung
        GROUP BY
        PROPOSALID
        )
        SELECT
        a.PROPOSALID proposalId,
        b.INSTLNUM instlNum,
        to_char(b.DUEDATE, 'MM/DD/YYYY') dueDate,
        b.INSTLAMT instlAmt,
        b.PRINCOMP printComp,
        b.INTCOMP intComp,
        b.EFFRATE effRate,
        b.BALPRIN balPrin,
        b.DAYS days
        FROM
        laymax a
        LEFT JOIN dulieuchung b ON
        a.PROPOSALID = b.PROPOSALID
        AND a.max_rep = b.count_his
        ORDER BY
        b.PROPOSALID ASC,
        b.INSTLNUM ASC
    </select>
</mapper>
