<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.UploadFileMapper">
    <select id="getUploadFileData"  resultType="UploadFileModel" parameterType="UploadFileModel">
        SELECT
        agreementId,
        agreementNo,
        batchId,
        receiptNo,
        chequeNo,
        bankAcnum,
        drawNon,
        toWards,
        receiptAmt,
        receiptDate,
        userId,
        uploadDate,
        chequeId,
        line_number no
        FROM
        (
        SELECT
        b.agreementid agreementId,
        a.agreementno agreementNo,
        a.batchid batchId,
        a.receiptno receiptNo,
        a.cheque_no chequeNo,
        a.bankacnum bankAcnum,
        a.drawnon drawNon,
        a.towards toWards,
        a.receipt_amt receiptAmt,
        to_char(a.receipt_date, 'MM/DD/YYYY') receiptDate,
        a.userid userId,
        to_char(a.upload_date, 'MM/DD/YYYY') uploadDate,
        a.chequeid chequeId,
        ROW_NUMBER()
        OVER(
        ORDER BY
        a.upload_date DESC
        )                                     line_number
        FROM
<!--        java_leama.lea_ruu_uploaded_record_dtl a-->
        sqlserver1.MAFC_RUU_UPLOADED_RECORD_DTL a
        LEFT JOIN java_leama.lea_agreement_dtl b ON a.agreementno = b.agreementno
        WHERE
        1 = 1
        <if test="agreementId != null and agreementId != ''">
            AND b.agreementid = #{agreementId}
        </if>
        AND (TRUNC(a.upload_date) BETWEEN TO_DATE(#{fromDate}, 'MM-DD-YYYY')
        AND TO_DATE(#{toDate}, 'MM-DD-YYYY'))
        ORDER BY
        a.towards,
        a.bankacnum ASC
        )
        WHERE
        line_number BETWEEN 10 * (#{page} - 1) + 1 AND 10 * #{page}
    </select>

    <select id="countAllDataInUpload"  resultType="int"  parameterType="UploadFileModel">
        select count(*)
        FROM
<!--        java_leama.lea_ruu_uploaded_record_dtl a-->
        sqlserver1.MAFC_RUU_UPLOADED_RECORD_DTL a
        LEFT JOIN java_leama.lea_agreement_dtl b ON a.agreementno = b.agreementno
        WHERE
        1 = 1
        <if test="agreementId != null and agreementId != ''">
            AND b.agreementid = #{agreementId}
        </if>
        AND (TRUNC(a.upload_date) BETWEEN TO_DATE(#{fromDate}, 'MM-DD-YYYY')
        AND TO_DATE(#{toDate}, 'MM-DD-YYYY'))
        ORDER BY
        a.towards,
        a.bankacnum ASC
    </select>

    <select id="exportUploadFile"  resultType="UploadFileModel" parameterType="UploadFileModel">
        SELECT
        b.agreementid agreementId,
        a.agreementno agreementNo,
        a.batchid batchId,
        a.receiptno receiptNo,
        a.cheque_no chequeNo,
        a.bankacnum bankAcnum,
        a.drawnon drawNon,
        a.towards toWards,
        a.receipt_amt receiptAmt,
        to_char(a.receipt_date, 'MM/DD/YYYY') receiptDate,
        a.userid userId,
        to_char(a.upload_date, 'MM/DD/YYYY') uploadDate,
        a.chequeid chequeId
        FROM
<!--        java_leama.lea_ruu_uploaded_record_dtl a-->
        sqlserver1.MAFC_RUU_UPLOADED_RECORD_DTL a
        LEFT JOIN java_leama.lea_agreement_dtl b ON a.agreementno = b.agreementno
        WHERE
        1 = 1
        <if test="agreementId != null and agreementId != ''">
            AND b.agreementid = #{agreementId}
        </if>
        AND (TRUNC(a.upload_date) BETWEEN TO_DATE(#{fromDate}, 'MM-DD-YYYY')
        AND TO_DATE(#{toDate}, 'MM-DD-YYYY'))
        ORDER BY
        a.towards,
        a.bankacnum ASC
    </select>
</mapper>
