<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.accounting.mappers.WaveOffAmountMapper">
    <select id="getWaveOffAmountData"  resultType="WaveOffAmountModel" parameterType="WaveOffAmountModel">
        SELECT
        datelastmaint dateLastmaint,
        agreementid agreementId,
        waiveoff_amt waveOffAmount
        FROM
        sqlserver1.waiveoff_info
<!--        sqlserver1.test_data-->
        where
        1=1
        <if test="agreementId != null and agreementId != ''">
            AND agreementid = #{agreementId}
        </if>
        order by datelastmaint desc
    </select>
    <insert id="insertDataToWaveOff" parameterType="WaveOffAmountModel" >
        INSERT INTO sqlserver1.waiveoff_info (AGREEMENTID, WAIVEOFF_AMT) VALUES (#{agreementId}, #{waveOffAmount})
    </insert>

    <update id="updateWaveOffAmount" parameterType="WaveOffAmountModel" >
        UPDATE  sqlserver1.waiveoff_info SET WAIVEOFF_AMT = #{waveOffAmount} WHERE AGREEMENTID = #{agreementId}
    </update>

    <delete id="deleteAllData">
        DELETE FROM sqlserver1.waiveoff_info
    </delete>
</mapper>
